@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Poppins;
}
/* Navbar */
header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #f0f8ff;
}
nav{
    width: 100%;
    height: 80px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-family: Poppins;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
}
nav ul li a:hover{
    background-color: #5f17eb;
    color: white;
    transition: .5;
}
.menu{
    font-size: 30px;
    color: #5f17eb;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
button{
    background-color: #5f17eb;
    font-family: Poppins;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}
button:hover{
    border: 1px solid #5f17eb;
    background-color: white;
    color: #5f17eb;
}
/* /Navbar */
/* Heading */
.banner{
    background-color: #5f17eb;
    height: 38rem;
    align-content: center;
}
.bannertext{
    font-family: Poppins;
    text-align: center;
    color: white;
}
h1{
    font-size: 70px;
    font-weight: 400;
}
h3{
    font-size: 45px;
    font-weight: 400;
}
.main{
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 80px;
}
/* /Heading */
/* Courses */
.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(400px));
    gap: 15px;
    padding: 50px;
}
.card{
    width: 325px;
    overflow: hidden;
    margin: 20px;
    background-color: white;
    border: solid 5px whitesmoke;
    border-radius: 8px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content h3{
    font-size: 1.35rem;
}
.card-content p{
    font-size: 1rem;
}
.card-content a{
    background-color: #5f17eb;
    color: white;
    padding: 8px;
    font-size: 1rem;
    border-radius: 8px;
}
.card-content a:hover{
    background-color: #ede3ff;
    border-color: #5f17eb;
    color: #5f17eb;
}
/* /Courses */
/* End Bar */
.endbar{
    width: 100vw;
    height: 80px;
    background-color: #5f17eb;
    align-content: center;
}
.endbar p{
    font-family: Poppins;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}
/* Media Qwery of Navbar */
@media (max-width: 952px) {
    .logo{
        padding-left: 30px;
    }
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .endbar{
        padding: 20px;
    }
    .endbar p{
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .menu{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #f0f8ff;
        top: 80px;
        left: -100%;
        transition:all.5s;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.menu{
        background: none;
        color: #f0f8ff;
    }
    #check:checked ~ ul{
        left:0;
    }
}
/* /Media Qwery of Navbar */
  
